body {
  background-color: #1ABF99;
}

#jumbo {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.formBox {
  padding-bottom: 15px;
}

.sugg1 {
  background-color: gold;
}

.sugg2 {
  background-color: silver;
}

.sugg3 {
  background-color: #3498DB;
}
